{% extends "base.html" %}

{% block content %}
<body>
    <h2>Patent Info</h2>
    <form action="" method = "POST", id = "form_add">
        {{ form.hidden_tag() }}
        <table>
        {% for field in form %}
            <tr>
                {% if (field.type != "SubmitField" and field.type != "CSRFTokenField") %}
                    <th>{{ field.label() }}</th>
                    <td>{{ field() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        {{ form.submit() }}
        <button class="button" href="/">Cancel</button>
    </form>
</body>
{%endblock%}