{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
User {{current_user.username}} now can:
<form action="/addpatent">
    <input type="submit" value="Add Item"/>
</form>
{% endif %}

<button onclick="get_csv()" style="margin-left: 51%">Выгрузить базу данных  :З</button>

  <script>
    function get_csv() {
        $.get("/api/get_csv", function(csvContent) {
            alert("Data Loaded: " + csvContent);
            const blob = new Blob([csvContent], {type: 'text/csv;charset=utf-8,'})
            url = window.URL.createObjectURL(blob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "papers_please.csv";
            a.click();
            window.URL.revokeObjectURL(url);
        });
    }
  </script>

<table id="data" class="table">
    <thead>
        <tr>
        {% for field in fields %}
            <th scope="col">{{ field }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
        let cols = [];
        {% for field in fields %}
            cols.push({data: '{{ field }}'.replaceAll(' ', '_')});
        {% endfor %}
        $('#data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            columns: cols,
        });
    });
  </script>
{% endblock %}
