{% extends "base.html" %}
{% block content %}

<div id="actions">
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                <form action="/addpatent">
                    <input type="submit" value="Add Item" />
                </form>
            </div>
            <div class="col">
                <button onclick="get_csv()" style="margin-left: 51%">Выгрузить базу данных :З</button>
            </div>
            <div class="col">
                <form id="csv_file" enctype="text/csv" style="margin-left: 51%">
                    <input name="file" type="file" />
                    <input type="button" value="Загрузить csv 👉👈" onclick="add_csv_to_db()" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function get_csv() {
        let searcher = "export=True";
        $("#data").DataTable().columns().every(function (colId) {
            let val = this.search()
            if (this.search() === undefined)
                val = ''
            searcher += '&columns[' + colId.toString() + '][search][value]=' + val;
        })

        $.get("/api/data?" + searcher, function (csvContent) {
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8,' })
            url = window.URL.createObjectURL(blob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "papers_please.csv";
            a.click();
            window.URL.revokeObjectURL(url);
        });
    }

    function add_csv_to_db() {
        $.ajax({
            url: '/api/add_csv',
            type: 'POST',
            data: new FormData($('#csv_file')[0]),
            cache: false,
            contentType: false,
            processData: false
        });
    }
</script>

<div id="table_wrapper" class="shadow p-3 mb-5 bg-white rounded">
    <table id="data" class="table" style="width:100%">
        <thead class="thead-light">
            <tr>
                {% for field in fields %}
                <th scope="col">{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        let cols = [];
        {% for field in fields %}
        cols.push({ data: '{{ field }}'.replaceAll(' ', '_') });
        {% endfor %}
        let table = $('#data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            columns: cols,
            scrollX: true,
            scrollY: 800
        });

        let input_counter = 0;
        $('table thead tr th').each(function () {
            var title = $(this).text();
            if (input_counter == 1 || input_counter == 3 || input_counter == 10) {
                $(this).html(title + '<br><input id="date_from_' + input_counter.toString() + '" type="date" class="col-search-input"/><br>' +
                    'to <input id="date_to_' + input_counter.toString() + '" type="date" class="col-search-input"/>');

            }
            else if (input_counter == 5 || input_counter == 9 || input_counter == 11) {
                $(this).html(title + '<br><input id="int_from_' + input_counter.toString() + '" type="number" step="1" class="col-search-input"/><br>' +
                    'to <input id="int_to_' + input_counter.toString() + '" type="number" step="1" class="col-search-input"/>');
            }
            else {
                $(this).html(title + ' <input id="search_' + input_counter.toString() + '" type="text" class="col-search-input" placeholder="Search ' + title + '" />');
            }
            input_counter += 1;
        });


        table.columns().every(function (colId) {
            var table = this;
            $('input', this.header()).on('keyup change', function () {
                if (table.column(colId).search() !== this.value) {
                    let res_value = this.value
                    if ((this.id).startsWith("date_")) {
                        fromdate = $("#date_from_" + colId)[0].value
                        todate = $("#date_to_" + colId)[0].value
                        let f = new Date(fromdate);
                        let t = new Date(todate);
                        if (f > t) {
                            alert("First date bigger than second!")
                            return
                        }
                        res_value = fromdate + ";" + todate
                    }
                    else if ((this.id).startsWith("int_")) {
                        fromint = $("#int_from_" + colId)[0].value
                        toint = $("#int_to_" + colId)[0].value
                        let f = parseInt(fromint, 10);
                        let t = parseInt(toint, 10);
                        if (f > t) {
                            alert("First number bigger than second!")
                            return
                        }
                        res_value = fromint + ";" + toint
                    }

                    table.column(colId).search(res_value).draw();
                }
            });
        });
    });
</script>
{% endblock %}