{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
User {{current_user.username}} now can:
<form action="/addpatent">
    <input type="submit" value="Add Item" />
</form>
{% endif %}

<button onclick="get_csv()" style="margin-left: 51%">Выгрузить базу данных :З</button>
<form id="csv_file" enctype="text/csv" style="margin-left: 51%">
    <input name="file" type="file" />
    <input type="button" value="Загрузить csv 👉👈" onclick="add_csv_to_db()" />
</form>

<script>
    function get_csv() {
        var searcher = ""
        var node_list = document.getElementsByTagName('input');
        for (var i = 0; i < node_list.length; i++) {
            var node = node_list[i];
            if (node.getAttribute('type') == "search") {
                if (node.value != "") {
                    searcher = "?searcher=" + node.value;
                    break;
                }
            }
        }

        $.get("/api/get_csv" + searcher, function (csvContent) {
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8,' })
            url = window.URL.createObjectURL(blob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "papers_please.csv";
            a.click();
            window.URL.revokeObjectURL(url);
        });
    }

    function add_csv_to_db(){
        $.ajax({
            url: '/api/add_csv',
            type : 'POST',
            data : new FormData($('#csv_file')[0]),
            cache: false,
            contentType: false,
            processData: false
        });
    }


</script>

<table id="data" class="table">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        let cols = [];
        {% for field in fields %}
        cols.push({ data: '{{ field }}'.replaceAll(' ', '_') });
        {% endfor %}
        let table = $('#data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            columns: cols,
        });

        $('#data thead th').each(function () {
            var title = $(this).text();
            $(this).html(title+' <input type="text" class="col-search-input" placeholder="Search ' + title + '" />');
        });
        
        table.columns().every(function (colId) {
            var table = this;
            $('input', this.header()).on('keyup change', function () {
                if (table.column(colId).search() !== this.value) {
                	   table.column(colId).search(this.value).draw();
                }
            });
        });
    });
</script>
{% endblock %}